# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Datasheets
Datasheet/

# verilog intermedied
*.vcd
*.vp
*.asc
*.json
*.bin
*.rpt

*.raw
*.log

# Python
__pycache__

*.code-workspace
open65-backups
openX65-vabo-backups
x65icd
x65prog
pcb/vera-rev4
fpga-nora/syn-icecube2

private/
fpga-aura/syn-icecube2/
doc-private/
